@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ol {
  @apply flex flex-col gap-3;
}

.border-left::before {
  content: "";
  display: block;
  width: 1px;
  background: theme(colors.gray.200);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

li:last-child .border-left:before {
  background: linear-gradient(
    to top,
    rgba(129, 138, 145, 0) 0,
    theme(colors.gray.200) 100px,
    theme(colors.gray.200) 100%
  );
}

ol li {
  @apply [&>ol]:ms-6 [&>ol]:mt-3;
  list-style-type: disc;
}

ol li > ol li {
  list-style-type: circle;
}

.skill-item {
  @apply bg-blue-950 !text-white px-3 py-1 text-sm leading-5;
}
