@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ol {
  @apply flex flex-col gap-3;
}

.border-left::before {
  content: "";
  display: block;
  width: 1px;
  background: theme(colors.gray.200);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

li:last-child .border-left:before {
  background: linear-gradient(
    to top,
    rgba(129, 138, 145, 0) 0,
    theme(colors.gray.200) 100px,
    theme(colors.gray.200) 100%
  );
}

ol li {
  @apply [&>ol]:ms-6 [&>ol]:mt-3;
  list-style-type: disc;
}

ol li > ol li {
  list-style-type: circle;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  .profile-image {
    width: 300px !important;
    height: 300px !important;
  }

  .introduction {
    width: 300px !important;
    height: 300px !important;
  }

  .menu {
    gap: 1rem !important;
  }

  .gap-24 {
    gap: 2rem !important;
  }
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    display: none;
    position: absolute;
    top: 100%;

    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu {
    display: block;
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .p-24 {
    padding: 2rem !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }

  .gap-24 {
    gap: 2rem !important;
  }

  .whitespace-nowrap {
    white-space: normal !important;
  }
}

@media (max-width: 600px) {
  .article-div {
    flex-direction: column-reverse;
    width: 100%;
  }

  .introduction {
    width: 100% !important;
    height: 300px !important;
    gap: 2rem !important;
    padding-bottom: 0;
    padding: 1rem !important;
  }

  .education-section {
    width: 100% !important;
  }

  h3 {
    font-size: 1.3rem !important;
  }

  .profile-image {
    height: 300px !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 388px) {
  h3 {
    font-size: 1rem !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  .p-12 {
    padding: 1rem !important;
  }

  .profile-image {
    width: 300px !important;
  }

  .text-4xl {
    font-size: 2rem !important;
  }
}
